.cards-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 20px;


  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  padding: 20px 40px;
}

.cards-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2rem;
  justify-content: center;
  padding: 2rem;
}


/* .cards-wrapper {
  background-color: red !important;
} */

/* 
.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 40px;
  justify-content: center; 
  width: 90vw;
  max-width: 1200px;
  margin-top: 30px;
} */
