.App {
  display: flex;
  flex-direction: column;
  /* Remove horizontal alignment */
  /* align-items: center; <-- REMOVE this line */
  min-height: 100vh;
  background-color: #2e3248;
  color: white;
  padding-bottom: 50px;
}
